.img-block {
    max-width: 280px;
    margin: 0 auto;
}

.img-block img {
    width: 100%;
}

.answer {
    display: inline-block;
}

.center-block {
    text-align: center;
}

.button-start {
    text-align: center;
}

.quest-block {
    min-height: 312px;
}

.popup {
    position: fixed;
    top: 90%;
    left: 15%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 100px;
    background-color: #0d6efd;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}